@model CourseEnrollment.Models.CourseViewModel

@{
    ViewData["Title"] = "Delete Course";
}

<h1>Delete Course</h1>

<h3>Are you sure you want to delete this course?</h3>
<div>
    <hr />
    @await Html.PartialAsync("_CourseDetailsPartial", Model)
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>

